.homepage-hero--h2 {
    color: #414b56;
    font-weight:600;
    font-size: 30px;
    margin: 40px 0px;
}

.homepage-hero--p {
    color: #414b56;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 25px;
    color: #414b56;
    background-color: white;
    border-radius: 100px;
    text-decoration: none;
    margin-right: 10px;
}

.homepage-hero--image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 40px 20px;
    min-height: 500px;
    background-position: center;
    text-align: center;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .homepage-hero--content {
    display: block;
    max-width: 600px;
  }
  .homepage-hero--image {
    padding: 50px 80px;
    justify-content: start;
    text-align: left;
    min-height: 500px;
    background-position: left;
}
  .homepage-hero--h2 {
    font-weight:600;
    font-size: 40px;
}

.homepage-hero--p {
    margin-bottom: 30px;
}
}